.tarjeta {
  margin-top: 80px;
  width: 40vh;
  height: 50vh;
  box-shadow: 0px 0px 26px 16px rgba(231, 230, 230, 0.82);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
}

.tarjeta > img {
  width: 40%;
}

.tarjeta > .climaActual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.tarjeta > .climaActual > p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.tarjeta > .temperaturasEsperadas {
  display: flex;
  justify-content: space-around;
  /* background: #000; */
  text-align: center;
  width: 50%;
}

.tarjeta > .temperaturasEsperadas > .temperaturaMinima > .textoTemperatura {
  color: #00ff9b;
  font-weight: 900;
}
.tarjeta > .temperaturasEsperadas > .temperaturaMaxima > .textoTemperatura {
  color: #ff0000;
  font-weight: 900;
}

button {
  margin-top: 5%;
  width: 50%;
  height: 30px;
  border-radius: 15px;
  background: linear-gradient(
    0deg,
    rgba(97, 166, 251, 1) 0%,
    rgba(95, 220, 228, 1) 100%
  );
  border: 0;
  /* border-style: hidden; */
  color: white;
  cursor: pointer;
}
