@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.contenedor {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(97, 166, 251, 1) 0%, #c2b3ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden !important;
}

.contenedor > .circulo {
  width: 150%;
  height: 200%;
  border-radius: 80%;
  background: linear-gradient(0deg, #fcc29f 0%, #fda9aa 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor .circulo .detalles {
  width: 60%;
  height: 95vh;
}

.temperatura {
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: linear-gradient(0deg, #fda9aa 0%, #d5a3b6 25%, #736dad 100%);
}

.columnaDatos > div > p {
  font-family: "Oswald", sans-serif;
  color: white;
}
.gradosYclima {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clima {
  width: 50%;
  display: flex;
  justify-content: center;
}

.clima > span {
  font-size: 37px;
}

.gradosYclima p {
  font-size: 70px;
}
.columnaNombre {
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
  margin-top: -15%;
}
.columnaNombre > h3 {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 30px;
}

.columnaDatos > div > span {
  color: white;
}

.columnaDatos > .informacion {
  margin-top: 60px;
  width: 50%;
  display: flex;
  justify-content: center;

}
.columnaDatos > .informacion > span {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  padding: 0;
}
.columnaDatos > .informacion > span > p {
  /* justify-content: space-around; */
margin-left: 10px;
}
.ClimaPronosticado {
  width: 100%;
  height: 40%;
  background: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
