<div class="contenedor">
  <div class="circulo">
    <div class="detalles">
      <div class="temperatura">
        <div class="columnaDatos">
          <br /><br />
          <div class="gradosYclima">
            <p>37°</p>
            <span>Clear</span>
          </div>

          <div class="informacion">
            <span>
              <p>Humidity</p>
              <p>44%</p>
            </span>
            <span>
              <p>Wind</p>
              <p>2K/M</p>
            </span>
          </div>
        </div>

        <div class="columnaNombre">
          <h3>Aguascalientes</h3>
        </div>
      </div>

      <div class="ClimaPronosticado"></div>
    </div>
  </div>
</div>
