<div class="contenedor">
  <div class="circulo">
    <div class="detalles">
      <div class="temperatura">
        <div class="columnaDatos">
          <br /><br />
          <div class="gradosYclima">
            <p>{{ climaFiltrado.TemperaturaActual }}°</p>
          </div>
          <div class="clima">
            <span>{{ climaFiltrado.ClimaActual }}°</span>
          </div>
          <div class="informacion">
            <span>
              <p>Humidity:</p>
              <p>{{ climaFiltrado.Humedad }}%</p>
            </span>
            <span>
              <p>Wind:</p>
              <p>{{ climaFiltrado.Wind }}°</p>
            </span>
          </div>
        </div>

        <div class="columnaNombre">
          <h3 style="border-bottom: white 2px solid;">
            {{ climaFiltrado.NombreCiudad }}
          </h3>
        </div>
      </div>

      <div class="ClimaPronosticado"></div>
    </div>
  </div>
</div>
