<div class="contenedor">
  <div class="contenedorBuscar">
    <h2 class="text-center bucadorTitulo">Buscar ciudades:</h2>

    <div class="backArrow" (click)="IrHome()">
      <img src="../../../assets/img//back.png" alt="" />
    </div>

    <div class="inputBuscador">
      <input #inputCiudad type="text" placeholder="Buscar ciudad" />
      <span><img src="../../../assets/img/buscar.png" alt="" /></span>
    </div>

    <p *ngIf="mostrarTarjeta == false" class="texto">Ciudad no seleccionada</p>
    <app-cards-weather
      *ngIf="mostrarTarjeta == true"
      [climaFiltradoRecibido]="climaFiltrado"
    ></app-cards-weather>
  </div>
</div>
